In [13]:
import pandas as pd
import numpy as np
import requests
import json
from pprint import pprint
from pandas import Series

In [14]:
url = "http://www.omdbapi.com/?apikey=trilogy&t="

In [15]:
#read in to CSV File
movies_df = pd.read_csv("2013-2017 Box Office Data.csv")

In [16]:
#Clean up Movie Titles, removing (2015) from Cinderalla, (2016) Jungle Book, (2017) Beauty and the Beast
movies_df = movies_df.reset_index(level=None, drop = False, inplace = False, col_level = 0, col_fill = "")
s = pd.DataFrame(movies_df["Movie Title"])
s1 = s.reset_index(level=None, drop = False, inplace = False, col_level = 0, col_fill = "")
s2 = s1["Movie Title"].str.split("(").apply(Series, 1)
s3 = s2.reset_index(level=None, drop = False, inplace = False, col_level = 0, col_fill = "")

In [18]:
#merge the dataframes
movies_merge = movies_df.merge(s3, how='inner', on="index", left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False)
movies_merge

,index,Rank,Movie Title,Studio,Total Gross,Theaters,Opening,Theaters.1,Open,Close,Year,0,1
0,0,1,The Hunger Games: Catching Fire,LGF,"$424,668,047","4,163","$158,074,286","4,163",22-Nov,3-Apr,2013,The Hunger Games: Catching Fire,NaN
1,1,2,Iron Man 3,BV,"$409,013,994","4,253","$174,144,585","4,253",3-May,12-Sep,2013,Iron Man 3,NaN
2,2,3,Frozen,BV,"$400,738,009","3,742","$243,390",1,22-Nov,17-Jul,2013,Frozen,NaN
3,3,4,Despicable Me 2,Uni.,"$368,061,265","4,003","$83,517,315","3,997",3-Jul,16-Jan,2013,Despicable Me 2,NaN
4,4,5,Man of Steel,WB,"$291,045,518","4,207","$116,619,362","4,207",14-Jun,19-Sep,2013,Man of Steel,NaN
5,5,6,Gravity,WB,"$274,092,705","3,820","$55,785,112","3,575",4-Oct,8-May,2013,Gravity,NaN
6,6,7,Monsters University,BV,"$268,492,764","4,004","$82,429,469","4,004",21-Jun,19-Dec,2013,Monsters University,NaN
7,7,8,The Hobbit: The Desolation of Smaug,WB (NL),"$258,366,855","3,928","$73,645,197","3,903",13-Dec,17-Apr,2013,The Hobbit: The Desolation of Smaug,NaN
8,8,9,Fast & Furious 6,Uni.,"$238,679,850","3,771","$97,375,245","3,658",24-May,5-Sep,2013,Fast & Furious 6,NaN
9,9,10,Oz The Great and Powerful,BV,"$234,911,825","3,912","$79,110,453","3,912",8-Mar,18-Jul,2013,Oz The Great and Powerful,NaN
10,10,1,American Sniper,WB,"$350,126,372","3,885","$633,456",4,25-Dec,25-Jun,2014,American Sniper,NaN
11,11,2,The Hunger Games: Mockingjay - Part 1,LGF,"$337,135,885","4,151","$121,897,634","4,151",21-Nov,19-Mar,2014,The Hunger Games: Mockingjay - Part 1,NaN
12,12,3,Guardians of the Galaxy,BV,"$333,176,600","4,088","$94,320,883","4,080",1-Aug,22-Jan,2014,Guardians of the Galaxy,NaN
13,13,4,Captain America: The Winter Soldier,BV,"$259,766,572","3,938","$95,023,721","3,938",4-Apr,21-Aug,2014,Captain America: The Winter Soldier,NaN
14,14,5,The LEGO Movie,WB,"$257,760,692","3,890","$69,050,279","3,775",7-Feb,4-Sep,2014,The LEGO Movie,NaN
15,15,6,The Hobbit: The Battle of the Five Armies,WB (NL),"$255,119,788","3,875","$54,724,334","3,875",17-Dec,2-Apr,2014,The Hobbit: The Battle of the Five Armies,NaN
16,16,7,Transformers: Age of Extinction,Par.,"$245,439,076","4,233","$100,038,390","4,233",27-Jun,9-Oct,2014,Transformers: Age of Extinction,NaN
17,17,8,Maleficent,BV,"$241,410,378","3,948","$69,431,298","3,948",30-May,4-Dec,2014,Maleficent,NaN
18,18,9,X-Men: Days of Future Past,Fox,"$233,921,534","4,001","$90,823,660","3,996",23-May,9-Oct,2014,X-Men: Days of Future Past,NaN
19,19,10,Big Hero 6,BV,"$222,527,828","3,773","$56,215,889","3,761",7-Nov,28-May,2014,Big Hero 6,NaN
20,20,1,Star Wars: The Force Awakens,BV,"$936,662,225","4,134","$247,966,675","4,134",18-Dec,2-Jun,2015,Star Wars: The Force Awakens,NaN
21,21,2,Jurassic World,Uni.,"$652,270,625","4,291","$208,806,270","4,274",12-Jun,19-Nov,2015,Jurassic World,NaN
22,22,3,Avengers: Age of Ultron,BV,"$459,005,868","4,276","$191,271,109","4,276",1-May,8-Oct,2015,Avengers: Age of Ultron,NaN
23,23,4,Inside Out,BV,"$356,461,711","4,158","$90,440,272","3,946",19-Jun,10-Dec,2015,Inside Out,NaN
24,24,5,Furious 7,Uni.,"$353,007,020","4,022","$147,187,040","4,004",3-Apr,24-Jul,2015,Furious 7,NaN
25,25,6,Minions,Uni.,"$336,045,770","4,311","$115,718,405","4,301",10-Jul,17-Dec,2015,Minions,NaN
26,26,7,The Hunger Games: Mockingjay - Part 2,LGF,"$281,723,902","4,175","$102,665,981","4,175",20-Nov,25-Feb,2015,The Hunger Games: Mockingjay - Part 2,NaN
27,27,8,The Martian,Fox,"$228,433,663","3,854","$54,308,575","3,831",2-Oct,17-Mar,2015,The Martian,NaN
28,28,9,Cinderella (2015),BV,"$201,151,353","3,848","$67,877,361","3,845",13-Mar,17-Sep,2015,Cinderella,2015)
29,29,10,Spectre,Sony,"$200,074,609","3,929","$70,403,148","3,929",6-Nov,7-Apr,2015,Spectre,NaN
30,30,1,Rogue One: A Star Wars Story,BV,"$532,177,324",4157,"$155,081,681",4157,43450,43224,2016,Rogue One: A Star Wars Story,NaN
31,31,2,Finding Dory,BV,"$486,295,561",4305,"$135,060,273",4305,43268,43442,2016,Finding Dory,NaN
32,32,3,Captain America: Civil War,BV,"$408,084,349",4226,"$179,139,142",4226,43226,43365,2016,Captain America: Civil War,NaN
33,33,4,The Secret Life of Pets,Uni.,"$368,384,330",4381,"$104,352,905",4370,43289,43463,2016,The Secret Life of Pets,NaN
34,34,5,The Jungle Book (2016),BV,"$364,001,123",4144,"$103,261,464",4028,43205,43372,2016,The Jungle Book,2016)
35,35,6,Deadpool,Fox,"$363,070,709",3856,"$132,434,639",3558,43143,43267,2016,Deadpool,NaN
36,36,7,Zootopia,BV,"$341,268,248",3959,"$75,063,401",3827,43163,43316,2016,Zootopia,NaN
37,37,8,Batman v Superman: Dawn of Justice,WB,"$330,360,194",4256,"$166,007,347",4242,43184,43267,2016,Batman v Superman: Dawn of Justice,NaN
38,38,9,Suicide Squad,WB,"$325,100,054",4255,"$133,682,248",4255,43317,43414,2016,Suicide Squad,NaN
39,39,10,Sing,Uni.,"$270,395,425",4029,"$35,258,145",4022,43455,43221,2016,Sing,NaN
40,40,1,Star Wars: The Last Jedi,BV,"$620,164,565","4,232","$220,009,584","4,232",15-Dec,-,2017,Star Wars: The Last Jedi,NaN
41,41,2,Beauty and the Beast (2017),BV,"$504,014,165","4,210","$174,750,616","4,210",17-Mar,13-Jul,2017,Beauty and the Beast,2017)
42,42,3,Wonder Woman,WB,"$412,563,408","4,165","$103,251,471","4,165",2-Jun,9-Nov,2017,Wonder Woman,NaN
43,43,4,Jumanji: Welcome to the Jungle,Sony,"$403,652,109","3,849","$36,169,328","3,765",20-Dec,-,2017,Jumanji: Welcome to the Jungle,NaN
44,44,5,Guardians of the Galaxy Vol. 2,BV,"$389,813,101","4,347","$146,510,104","4,347",5-May,21-Sep,2017,Guardians of the Galaxy Vol. 2,NaN
45,45,6,Spider-Man: Homecoming,Sony,"$334,201,140","4,348","$117,027,503","4,348",7-Jul,30-Nov,2017,Spider-Man: Homecoming,NaN
46,46,7,It,WB (NL),"$327,481,748","4,148","$123,403,419","4,103",8-Sep,14-Dec,2017,It,NaN
47,47,8,Thor: Ragnarok,BV,"$315,058,289","4,080","$122,744,989","4,080",3-Nov,15-Mar,2017,Thor: Ragnarok,NaN
48,48,9,Despicable Me 3,Uni.,"$264,624,300","4,535","$72,434,025","4,529",30-Jun,21-Dec,2017,Despicable Me 3,NaN
49,49,10,Justice League,WB,"$229,024,295","4,051","$93,842,239","4,051",17-Nov,15-Mar,2017,Justice League,NaN

In [19]:
#delete excessive columns 
del movies_merge[1]
del movies_merge["index"]
del movies_merge["Theaters.1"]
movies_merge = movies_merge.rename(columns = {0:"Movie Title (loop)"})
movies_df = movies_merge[["Movie Title", "Movie Title (loop)", "Year", "Studio","Total Gross","Theaters", "Opening", "Open", "Close"]]

In [20]:
#Add the Additional Columns
movies_df["Rated"] = ""
movies_df["Runtime"]= ""
movies_df["Director"]=""
movies_df["Actor 1"] = ""
movies_df["Actor 2"] = ""
movies_df["Rotten Tomatoes"] = ""
movies_df["Metacritic"] = ""
movies_df["IMDB Rating"] = ""
movies_df["Production Studio"] =""
movies_df.head()

,Movie Title,Movie Title (loop),Year,Studio,Total Gross,Theaters,Opening,Open,Close,Rated,Runtime,Director,Actor 1,Actor 2,Rotten Tomatoes,Metacritic,IMDB Rating,Production Studio
0,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,2013,LGF,"$424,668,047","4,163","$158,074,286",22-Nov,3-Apr,,,,,,,,,
1,Iron Man 3,Iron Man 3,2013,BV,"$409,013,994","4,253","$174,144,585",3-May,12-Sep,,,,,,,,,
2,Frozen,Frozen,2013,BV,"$400,738,009","3,742","$243,390",22-Nov,17-Jul,,,,,,,,,
3,Despicable Me 2,Despicable Me 2,2013,Uni.,"$368,061,265","4,003","$83,517,315",3-Jul,16-Jan,,,,,,,,,
4,Man of Steel,Man of Steel,2013,WB,"$291,045,518","4,207","$116,619,362",14-Jun,19-Sep,,,,,,,,,

In [21]:
for index, row in movies_df.iterrows():
    base_url = "http://www.omdbapi.com/?apikey=trilogy"
    params = {
        "t": row["Movie Title (loop)"],
        "y": row["Year"]
    }

    # make request and print url
    response = requests.get(base_url, params=params).json()
    
    
    try:
        movies_df.set_value(index, "Rated", response["Rated"])
        movies_df.set_value(index, "Runtime", response["Runtime"])
        movies_df.set_value(index, "Director", response["Director"])
        movies_df.set_value(index, "Actor 1", response["Actors"])
        movies_df.set_value(index, "Actor 2", response["Actors"])
        movies_df.set_value(index, "Rotten Tomatoes", response["Ratings"][1]["Value"])
        movies_df.set_value(index, "Metacritic", response["Ratings"][2]["Value"])
        movies_df.set_value(index, "IMDB Rating", response["Ratings"][0]["Value"])
        movies_df.set_value(index, "Production Studio", response["Production"])
            
        
    except (KeyError, IndexError):
        print(f" {movie} Missing field/result... skipping.")

In [22]:
#Clean data take out $ and commas to convert to integer
movies_df['Total Gross'] = movies_df['Total Gross'].str.replace('$','')
movies_df['Total Gross'] = movies_df['Total Gross'].str.replace(',','')
movies_df['Total Gross'] = pd.to_numeric(movies_df['Total Gross'])

movies_df['Opening'] = movies_df['Opening'].str.replace('$','')
movies_df['Opening'] = movies_df['Opening'].str.replace(',','')
movies_df['Opening'] = pd.to_numeric(movies_df['Opening'])

movies_df['Runtime'] = movies_df['Runtime'].str.replace('min','')
movies_df['Runtime'] = pd.to_numeric(movies_df['Runtime'])
movies_df = movies_df.rename(columns = {"Runtime":"Runtime (Minutes)"})

movies_df['Rotten Tomatoes'] = movies_df['Rotten Tomatoes'].str.replace('%','')
movies_df['Rotten Tomatoes'] = pd.to_numeric(movies_df['Rotten Tomatoes'])
movies_df = movies_df.rename(columns = {"Rotten Tomatoes":"Rotten Tomatoes (%)"})

In [23]:
for index, row in movies_df.iterrows():
    integer1 = int(row['Metacritic'].split('/')[0])
    integer2 = int(row['Metacritic'].split('/')[1])
    movies_df.set_value(index, "Metacritic", (integer1/integer2)*100)
    movies_df.set_value(index, "IMDB Rating", (float(row['IMDB Rating'].split('/')[0]))*10)
    movies_df.set_value(index, "Actor 1", str(row["Actor 1"].split(",")[0]))
    movies_df.set_value(index, "Actor 2", str(row["Actor 2"].split(",")[1]))
    movies_df.set_value(index, "Director", str(row["Director"].split(",")[0]))

In [24]:
movies_df.to_csv("output/movies_data.csv", encoding = "utf-8")